**Extracting Data**

In [95]:
import pandas as pd
df = pd.read_csv('D:\\Tableau\\Netflix Project\\netflix_titles.csv')
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [4]:
len(df)

8807

In [53]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [19]:
max(df.show_id.str.len())

5

In [20]:
max(df.type.str.len())

7

In [21]:
max(df.title.str.len())

104

In [22]:
max(df.director.str.len())

208.0

In [25]:
max(df.cast.dropna().str.len())

771

In [26]:
max(df.country.dropna().str.len())

123

In [27]:
max(df.date_added.dropna().str.len())

19

In [29]:
max(df.rating.dropna().str.len())

8

In [30]:
max(df.duration.dropna().str.len())

10

In [31]:
max(df.listed_in.dropna().str.len())

79

In [78]:
max(df.description.dropna().str.len())

248

**Setting up connection to MS SQL Server**

In [96]:
from sqlalchemy import create_engine,NVARCHAR
# Create the SQLAlchemy engine using the mssql+pyodbc dialect
engine = create_engine('mssql://yourservername\SQLEXPRESS/netflix?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')

dtype = {'title': NVARCHAR(length=2000)}
conn = engine.connect()

In [ ]:
df.to_sql('netflix_titles', con=conn, index=False, if_exists='append',dtype=dtype)
conn.close()

In [73]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [75]:
df[df.show_id=='s8766']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8765,s8766,Movie,XX,"Jovanka Vuckovic, Annie Clark, Roxanne Benjami...","Natalie Brown, Jonathan Watton, Melanie Lynske...","Canada, United States","June 22, 2017",2017,R,81 min,Horror Movies,This four-part anthology of short horror films...

**Check Missing Values**

In [91]:
df.isna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [92]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64